#storeTable1 {
    /*
	position: absolute;
    left: 400px;
	top: 20px;
	*/
}

#storeTable2 {
	/*
    position: absolute;
    left: 800px;
	top: 20px;
	*/
}

.mod {
	width: 20px;
}

caption {
    display: table-caption;
	text-align: center;
}