<div layout="row" flex>
    <md-sidenav md-component-id="left" md-is-locked-open="true">
        <md-list>
            <md-list-item ng-repeat="state in states"
                          ng-click="selectState(state)"
                          aria-label="{{ state.title }}">
                <p ng-bind="state.title"></p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-divider></md-divider>
    <md-content layout-padding flex>
        <div ng-switch on="state.id">
            <div ng-switch-when="details" ng-controller="DetailsController">
                <label> Character Name </label>
                <input id="name" ng-model="characterStats.name" />
                <md-button class="md-raised md-primary" ng-click="save();">Save</md-button>
                <md-button class="md-raised md-primary" ng-click="load();">Load</md-button>
                <br>
                <br>
                <label> Character Class </label>
                <input id="class" ng-model="characterStats.class" />
                <br>
                <br>
                <label> Character Race </label>
                <input id="race" ng-model="characterStats.race" />
                <br>
                <br>
                <label> Level </label>
                <input id="level" type="number" ng-model="characterStats.level" />
                <br>
                <br>
                <label> Exp </label>
                <input id="exp" type="number" ng-model="characterStats.exp" />
            </div>
            <div ng-switch-when="currentStats" ng-controller="CurrentStatsController">
                <div layout="column" flex-gt-xs="30">
                    <md-input-container>
                        <label>Character Armor</label>
                        <input type="number" ng-model="characterStats.armor" />
                    </md-input-container>
                    <md-input-container>
                        <label> Current Hit Points </label>
                        <input type="number" ng-model="characterStats.currentHp" />
                        <md-button class="md-raised md-primary hpRestore" ng-click="change('currentHp')">
                            Restore
                        </md-button>
                    </md-input-container>
                    <md-input-container>
                        <label> Current Intelligence Points </label>
                        <input type="number" ng-model="characterStats.iMp" />
                        <md-button class="md-raised md-primary iMpRestore" ng-click="change('iMp')">
                            Restore
                        </md-button>
                    </md-input-container>
                    <md-input-container>
                        <label> Current Wisdom Points </label>
                        <input type="number" ng-model="characterStats.wMp" />
                        <md-button class="md-raised md-primary wMpRestore" ng-click="change('wMp')">
                            Restore
                        </md-button>
                    </md-input-container>
                </div>
            </div>
            <div ng-switch-when="abilities" ng-controller="AbilitiesController">
                <label> Hit Points </label>
                <input class="statBox" id="hp" type="number" ng-model="characterStats.hp" />
                <label> Strength </label>
                <input class="statBox" id="strength" type="number" ng-model="characterStats.strength" />
                <label> Intelligence </label>
                <input class="statBox" id="intelligence" type="number" ng-model="characterStats.intelligence" />
                <label> Wisdom </label>
                <input class="statBox" id="wisdom" type="number" ng-model="characterStats.wisdom" />
                <label> Dexterity </label>
                <input class="statBox" id="dexterity" type="number" ng-model="characterStats.dexterity" />
                <label> Constitution </label>
                <input class="statBox" id="constitution" type="number" ng-model="characterStats.constitution" />
                <label> Charisma </label>
                <input class="statBox" id="charisma" type="number" ng-model="characterStats.charisma" />
            </div>
            <div ng-switch-when="equipment" ng-controller="EquipmentController">
                <label> Primary Weapon </label>
                <input id="primaryWeapon" ng-model="characterStats.primaryWeapon" />
                <label> Hit Bonus </label>
                <input id="primaryHitBonus" ng-model="characterStats.primaryHitBonus" />
                <label> Damage </label>
                <input id="primaryDamage" ng-model="characterStats.primaryDamage" />
                <label> Secondary Weapon </label>
                <input id="secondaryWeapon" ng-model="characterStats.secondaryWeapon" />
                <label> Hit Bonus </label>
                <input id="secondaryHitBonus" ng-model="characterStats.secondaryHitBonus" />
                <label> Damage </label>
                <input id="secondaryDamage" ng-model="characterStats.secondaryDamage" />
                <label> Platinum </label>
                <input id="platinum" type="number" ng-model="characterStats.platinum" />
                <label> Gold </label>
                <input id="gold" type="number" ng-model="characterStats.gold" />
                <label> Silver </label>
                <input id="silver" type="number" ng-model="characterStats.silver" />
                <label> Copper </label>
                <input id="copper" type="number" ng-model="characterStats.copper" />
                <label> Treasure </label>
                <textarea id="treasure" ng-model="characterStats.treasure"></textarea>
                <md-input-container class="md-block">
                    <label> Gear </label>
                    <textarea id="pack" ng-model="characterStats.pack"></textarea>
                </md-input-container>
            </div>
            <div ng-switch-when="skills" ng-controller="SkillsController">
                <md-input-container class="md-block">
                    <label> Skills and notes </label>
                    <textarea id="notes" ng-model="characterStats.notes"></textarea>
                </md-input-container>
            </div>
            <div ng-switch-when="spells" ng-controller="SpellsController">
                <md-input-container class="md-block">
                    <label> Spells </label>
                    <textarea id="spells" ng-model="characterStats.spells"></textarea>
                </md-input-container>
            </div>
            <div ng-switch-when="maps" ng-controller="MapsController">
                <label> Map </label>
                <div id="mapDiv" ng-show="mapImage">
                    <img ng-src="{{mapImage}}"/>
                </div>
                <div ng-show="!mapimage">
                    No map yet!
                </div>
            </div>
            <div ng-switch-when="store" ng-controller="StoreController">
                <label> Store </label>
                <div id="storeDiv" ng-show="storeTableData">
                    <table ng-repeat="(tableHeader,tableValue) in storeTableData">
                        <caption>{{tableHeader}}</caption>
                        <thead>
                            <tr>
                                <th ng-repeat="columnKey in getKeys(tableValue[0])">{{columnKey}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tableRow in tableValue">
                                <td ng-repeat="value in tableRow">{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="!storeTableData">
                    Store is closed!
                </div>
            </div>
        </div>
    </md-content>
</div>
