<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Character Sheet</title>

	<link rel="stylesheet" href="css/characterSheet.css?v=1.0">
	<link rel="stylesheet" href="css/popup.css">
	<link rel="stylesheet" href="css/store.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>

<body class="characterSheet">
  <script src="source/scripts.js"></script>
  <form id="character">
	<input class="class nameBox" id="class" />
	<input class="race nameBox" id="race" />
	<input class="name nameBox" id="name" />
	<input class="armor statBox" id="armor" />
	<input class="hp statBox" id="hp" />
	<button type="button" onclick="change(1, 'currentHp')" class="hpButtonUp upArrow"></button>
	<button type="button" onclick="change(-1, 'currentHp')" class="hpButtonDown downArrow"></button>
	<button type="button" onclick="change(document.getElementById('hp').value, 'currentHp')" class="restoreButton hpRestore"></button>
	<input class="currentHp points" id="currentHp" />
	<input class="level statBox" id="level" />
	<label class="expLabel" for="exp">Exp</label>
	<input class="exp" id="exp" />
	<input class="strength statBox" id="strength" />
	<input class="intelligence statBox" id="intelligence" />
	<input class="currentIMp points" id="iMp" />
	<button type="button" onclick="change(1, 'iMp')" class="iMpButtonUp upArrow"></button>
	<button type="button" onclick="change(-1, 'iMp')" class="iMpButtonDown downArrow"></button>
	<button type="button" onclick="change(document.getElementById('intelligence').value, 'iMp')" class="restoreButton iMpRestore"></button>
	<input class="wisdom statBox" id="wisdom" />
	<input class="currentWMp points" id="wMp" />
	<button type="button" onclick="change(1, 'wMp')" class="wMpButtonUp upArrow"></button>
	<button type="button" onclick="change(-1, 'wMp')" class="wMpButtonDown downArrow"></button>
	<button type="button" onclick="change(document.getElementById('wisdom').value, 'wMp')" class="restoreButton wMpRestore"></button>
	<input class="dexterity statBox" id="dexterity" />
	<input class="constitution statBox" id="constitution" />
	<input class="charisma statBox" id="charisma" />
	<input class="primaryWeapon weaponBox" id="primaryWeapon" />
	<input class="primaryHitBonus hitBonusBox" id="primaryHitBonus" />
	<input class="primaryDamage damageBox" id="primaryDamage" />
	<input class="secondaryWeapon weaponBox" id="secondaryWeapon" />
	<input class="secondaryHitBonus hitBonusBox" id="secondaryHitBonus" />
	<input class="secondaryDamage damageBox" id="secondaryDamage" />
	<input class="money platinum" id="platinum" />
	<input class="money gold" id="gold" />
	<input class="money silver" id="silver" />
	<input class="money copper" id="copper" />
	<textarea class="treasure" id="treasure" rows="10" cols="10"></textarea>
	<textarea class="pack" id="pack" rows="3" cols="80"></textarea>
	<textarea class="notes" id="notes" rows="10" cols="80"></textarea>
	<a class="saveButton button" onclick="save();">Save</a>
	<a class="loadButton button" onclick="load();">Load</a>
  </form>
  	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>Store</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				<div id="storeDiv">
				</div>
			</div>
		</div>
	</div>
  <script>
        var socket = io();

      socket.on('dm-storeOpen', function(storeContents){
		window.location.hash = "#popup1";
		loadStoreContents(storeContents);
      });
	  
	  socket.on('dm-storeClose', function(empty){
		window.location.hash = '';
		clearStore();
      });
	</script>
</body>
</html>