<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Store</title>

	<link rel="stylesheet" href="css/store.css?v=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="source/scripts.js"></script>
</head>

<body>
	<div id="controlDiv">
		<input type="button" value="Load Store" onclick="loadStore()" />
		<label for="mod0">Armor Irem Chance</label>
		<input type="text" class="mod" id="mod0" />
		<label for="mod1">Number of Armors</label>
		<input type="text" class="mod" id="mod1" />
		<label for="mod2">Weapon Irem Chance</label>
		<input type="text" class="mod" id="mod2" />
		<label for="mod3">Number of Weapons</label>
		<input type="text" class="mod" id="mod3" />	
		<label for="mod4">Gear Chance</label>		
		<input type="text" class="mod" id="mod4" />	
		<label for="mod5">Number of Gear Appearing</label>
		<input type="text" class="mod" id="mod5" />
		<label for="mod6">Number of Magic Items to Spawn</label>		
		<input type="text" class="mod" id="mod6" />	
		<label for="mod7">Chance to Spawn Magic Item</label>
		<input type="text" class="mod" id="mod7" />
	</div>
	<div id="storeDiv">
	</div>
</body>
</html>