md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

.statBox {
    background-image: url("/DND/images/Shield.png");
    background-size: cover;
    height: 94px;
    width: 80px;
    outline: none;
    background-color: transparent;
    border: 0px solid;
    text-align: center;
}

.hpRestore {
    background: url("/DND/images/heart.jpg");
    background-size: cover;	
}

.iMpRestore {
    background: url("/DND/images/mana.png");
    background-size: cover;	
}

.wMpRestore {
    background: url("/DND/images/ankh.png");
    background-size: cover;
}

.restoreButton {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.010em;
    box-shadow: 0 2px 5px 0;
    height: 75px;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: black;
}