.dmStatBox {
	width: 25px;
}

.characterSheet {
    background-image: url("/DND/images/simplednd2up.png");
	background-repeat: no-repeat;
}

.class {
	position:absolute;
	top: 35px;
	left: 120px;
}

.race {
	position:absolute;
	top: 91px;
	left: 120px;
}

.name {
	position:absolute;
	top: 144px;
	left: 120px;
}

.armor {
	position:absolute;
	top: 70px;
	left: 530px;
}

.hp {
	position:absolute;
	top: 59px;
	left: 715px;
}

.hpButton {
	height: 25px;
	width: 25px;
}

.points {
	width: 50px;
	height: 47px;
}

.currentHp {
	position: absolute;
	left: 865px;
    top: 35px;
}

.hpBox {
	width: 50px;
    height: 50px;
}

.upArrow {
	height: 25px;
    width: 25px;
	background: url("/DND/images/up.png");
	background-size: cover;
}

.downArrow {
	height: 25px;
    width: 25px;
	background: url("/DND/images/down.gif");
	background-size: cover;
}

.hpButtonUp {
	position: absolute;
    top: 93px;
    left: 865px;
}

.hpButtonDown {
	position: absolute;
    top: 93px;
    left: 893px;
}

.restoreButton {
	position: absolute;
    top: 125px;
    left: 876px;
	width: 30px;
	height: 25px;
}

.hpRestore {
	background: url("/DND/images/heart.jpg");
	background-size: cover;	
}

.level {
	position:absolute;
	top: 46px;
	left: 988px;
}

.expLabel {
	position: absolute;
    top: 122px;
    left: 976px;
}

.exp {
	position: absolute;
    top: 143px;
    width: 100px;
    left: 976px;
}

.strength {
	position:absolute;
	top: 257px;
	left: 56px;
}

.intelligence {
	position:absolute;
	top: 257px;
	left: 222px;
}

.currentIMp {
	position: absolute;
	top: 229px;
    left: 365px;
}

.iMpButtonUp {
	position: absolute;
    top: 287px;
    left: 365px;
}

.iMpButtonDown {
	position: absolute;
    top: 287px;
    left: 392px;
}

.iMpRestore {
	position: absolute;
	top: 319px;
    left: 376px;
	background: url("/DND/images/mana.png");
	background-size: cover;	
}

.wisdom {
	position:absolute;
	top: 257px;
	left: 479px;
}

.currentWMp {
	position: absolute;
	top: 229px;
    left: 622px;
}

.wMpButtonUp {
	position: absolute;
    top: 287px;
    left: 622px;
}

.wMpButtonDown {
	position: absolute;
    top: 287px;
    left: 650px;
}

.wMpRestore {
	position: absolute;
	top: 319px;
    left: 633px;
	background: url("/DND/images/ankh.png");
	background-size: cover;
}

.dexterity {
	position:absolute;
	top: 257px;
	left: 742px;
}

.constitution {
	position:absolute;
	top: 257px;
	left: 907px;
}

.charisma {
	position:absolute;
	top: 257px;
	left: 1074px;
}

.primaryWeapon {
	position:absolute;
	top: 420px;
	left: 220px;
}

.primaryHitBonus {
	position:absolute;
	top: 420px;
	left: 550px;
}

.primaryDamage {
	position:absolute;
	top: 420px;
	left: 655px;
}

.secondaryWeapon {
	position:absolute;
	top: 555px;
	left: 220px;
}

.secondaryHitBonus {
	position:absolute;
	top: 555px;
	left: 550px;
}

.secondaryDamage {
	position:absolute;
	top: 555px;
	left: 655px;
}

.platinum {
	position:absolute;
	top: 450px;
	left: 900px;
}

.gold {
	position:absolute;
	top: 490px;
	left: 900px;
}

.silver {
	position:absolute;
	top: 530px;
	left: 900px;
}

.copper {
	position:absolute;
	top: 572px;
	left: 900px;
}

.money {
	height: 15px;
    width: 80px;
}

.statBox {
	height: 60px;
    width: 80px;
}

.nameBox {
	height: 25px;
	width: 325px;
}

.weaponBox {
	height: 30px;
	width: 250px;
}

.hitBonusBox {
	height: 45px;
	width: 70px;
}

.damageBox {
	height: 15px;
    width: 80px;
}

.treasure {
	position:absolute;
	top: 615px;
	left: 840px;
	height: 130px;
	width: 150px;
	background-color: rgba(255, 255, 255, 0.5);
}

.pack {
	position:absolute;
	top: 810px;
	left: 50px;
	height: 90px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
}

.notes {
	position:absolute;
	top: 910px;
	left: 50px;
	height: 695px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
}

.saveButton {
	position:absolute;
	top: 193px;
	left: 25px;
}

.loadButton {
	position:absolute;
	top: 193px;
	left: 100px;
}