.statBox {
    background-image: url("/DND/images/Shield.png");
    background-size: cover;
    height: 94px;
    width: 80px;
    outline: none;
    background-color: transparent;
    border: 0px solid;
    text-align: center;
}

body {
    font-family: Algerian;
}

.upArrow {
    height: 25px;
    width: 25px;
    background: url("/DND/images/up.png");
    background-size: cover;
}

.downArrow {
    height: 25px;
    width: 25px;
    background: url("/DND/images/down.gif");
    background-size: cover;
}

.hpRestore {
    height: 25px;
    width: 25px;
    background: url("/DND/images/heart.jpg");
    background-size: cover;	
}

.iMpRestore {
    height: 25px;
    width: 25px;
    background: url("/DND/images/mana.png");
    background-size: cover;	
}

.wMpRestore {
    height: 25px;
    width: 25px;
    background: url("/DND/images/ankh.png");
    background-size: cover;
}