#storeDiv {
padding-bottom: 15px;
border: 1px;
overflow: hidden;
}

#storeTable0 {
    float: right;
	clear: right;
	width: 45%;
}

#storeTable1 {
    float: left;
	clear: left;
	width: 45%;
}

#storeTable2 {
	float: left;
	clear: left;
	width: 45%;
}

#storeTable3 {
	float: left;
	clear: left;
	width: 45%;
}

.controlTable {
	border: 1px solid black;
}

.mod {
	width: 45px;
}

caption {
    display: table-caption;
	text-align: center;
}